{% extends "base.html" %}

{% block body %}
<section class="header">
  <h2 class="title">Wag kang tamad gumawa ka ng <br>Todolists.</h2>
  <div class="row">
    <div class="three columns value-prop"></div>
    <div class="six columns">
      <form action="{% url 'lists:new_todolist' %}" method=post>
        {% csrf_token %}
        <dl>
          <dd>{{ form }}
          <dt><input type="submit" class="button button-primary" value="Start one now">
            <br>
            <br>
            <p>Want to keep your lists? <a href="{% url 'auth:register' %}">Register Now!</a>.</p>
        </dl>
      </form>
    </div>
  </div>
</section>
{% endblock %}
